* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #202124;
}

h1,h2,h3,input,button {
  font-family: "Press Start 2P", system-ui;
}

html {
  font-size: 62.5%;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: 4.8rem;
  gap: 1.4rem;
  background-color: #eff6ff;
}

header {
  display: flex;
  align-items: stretch;
}

header,
.main {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  gap: 1.4rem;
}

header input {
  flex: 1;
  border-radius: 1.4rem;
  outline: none;
  width: 100%;
}

header button {
  border-radius: 1.4rem;
  background: transparent;
  transition-duration: 200ms;
  cursor: pointer;
}

header button:hover {
  opacity: 0.5;
}

header button,
header input {
  padding: 1.4rem 1.8rem;
  border: none;
  outline: none;
  background: white;
}

p {
  font-size: 1.4rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.todoItem {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  padding: 1.4rem;
  border-radius: 1.4rem;
  background: white;
}

.todoItem p {
  flex: 1;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.actionsContainer button {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
}

.actionsContainer button:hover {
  opacity: 0.7;
}



@media (min-width: 640px) {

  header button,
  header input {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.6em;
  }
}