*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#root {
  height: 100dvh;
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.stack {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  border: 1px solid hsl(225, 0%, 85%);
  border-radius: 6px;
  padding: 1.6rem;
}
